<div class="wrap">
  <select class="js--compare-selector" name="country1" id="country-1">
    {{#each countries}}
      <option value="{{this.iso3}}">{{this.name}}</option>
    {{/each}}
  </select>
  <select class="js--compare-selector" name="country2" id="country-2">
    {{#each countries}}
      <option value="{{this.iso3}}">{{this.name}}</option>
    {{/each}}
  </select>
  <select class="js--compare-selector" name="country3" id="country-3">
    {{#each countries}}
      <option value="{{this.iso3}}">{{this.name}}</option>
    {{/each}}
  </select>
</div>
  