{{!-- <a href="/indicators#{{short_name}}"> --}}
{{#if score}}
<div class="card-wrap">
  <div class="wrap">
    <div class="index-description">
      <h2 class="name">
        {{product_name}}
      </h2>
      {{#if organization}}
        <h3 class="organization">
          {{organization}}
        </h3>
      {{/if}}
      {{#if product_description}}
      <div class="description-wrapper">
        <p class="description">
          {{product_description}}
        </p>
      </div>
      {{/if}}
      <a class="btn" href="indicators#{{short_name}}">See the full data set &gt; </a>
    </div>

    <div class="index-score">
      <div class="resume">
        <div class="js--graph graph"></div>
        <p class="global-score">
          {{#round}}{{score}}{{/round}}
          {{#if units_tpl}}
            <span class="units"> 
             {{units_tpl}}
            </span>
          {{/if}}
        </p>
      </div>
      
      <div class="js--partial-ranks">
        <ul class="partial-scores">
          <li id="global">
          </li>
          <li id="region">
          </li>
          <li id="income_group">
          </li>
        </ul>
      </div>
  
      <div class="info">
        <span>Last Updated: {{year}}</span>
        <span>Score Range: {{max_score}} - {{min_score}}</span>
      </div>
    </div>
  </div>
</div>
{{else}}
<div class="card-wrap -not-covered">
  <div class="wrap">
    <div class="index-description">
      <h2 class="name">
        {{product_name}}
      </h2>
      {{#if organization}}
        <h3 class="organization">
          {{organization}}
        </h3>
      {{/if}}
      {{#if product_description}}
        <p class="description">
          {{product_description}}
        </p>
      {{/if}}
      <p class="not-covered">not covered</p>
      <a class="btn" href="/indicators#{{short_name}}">See the full index &gt; </a>
    </div>
  </div>
</div>
{{/if}}
{{!-- </a> --}}

