{{!-- <a href="/indicators#{{short_name}}"> --}}
  <div class="index-description">
    <h2 class="name">
      {{product_name}}
    </h2>
    {{#if organization}}
      <h3 class="organization">
        {{organization}}
      </h3>
    {{/if}}
    {{#if product_description}}
      <p class="description">
        {{product_description}}
      </p>
    {{/if}}
    <a class="btn" href="/indicators#{{short_name}}">See the full index &gt; </a>
  </div>

  <div class="index-score">
    <div class="resume">
      <div class="graph"></div>
      <p class="global-score">
        {{score}}
        {{#if units_tpl}}
          <span class="units"> 
           {{units_tpl}}
          </span>
        {{/if}}
      </p>
    </div>

    <ul class="partial-scores">
      <li>
        <p id="global" class="partial-score">3</p>
        <p class="partial-rank">globally</p>
      </li>
      <li>
        <p id="continent" class="partial-score">2</p>
        <p class="partial-rank">In America</p>
      </li>
      <li>
        <p id="developed" class="partial-score">1</p>
        <p class="partial-rank">In Developed countries</p>
      </li>
    </ul>

    <a class="btn" href="#">See past data &gt; </a>
  </div>
{{!-- </a> --}}

