{{#each indicators}}
  <div class="m-card--indexes">
    <a href="indicators#{{short_name}}" class="index-description">
      <img class="{{short_name}}" src="css/img/logos/{{product_logo}}" alt="{{product_name}} logo">
      <h3 class="name">{{product_name}}</h3>
      <p class="organization">{{organization}}</p>
    </a>
  </div>
{{/each}}
