{{#each indicators}}
  <div class="m-card--indexes">
    <a href="indicators#{{short_name}}:{{max_year}}" class="index-description">
      <div class="img {{short_name}}" style="background-image:url(css/img/logos/{{product_logo}})"></div>
      <h3 class="name">{{product_name}}</h3>
      <p class="organization">{{organization}}</p>
    </a>
  </div>
{{/each}}
