<div class="l-banner -detail">
  <div class="m-breadcrumbs">
    <ul>
      <li><a href="/">home </a></li>
      <li><span> / </span></li>
      <li><a href="indicators"> data </a></li>
      <li><span> / </span></li>
      <li> {{name}}</li>
    </ul>
  </div>
  
  <div class="wrap">

    <h1 class="c-section-title">
      {{name}}
      <span>by {{orgaization}}</span>
    </h1>
    <p class="description">{{description}}</p>
    <a class="btn" href="{{url}}">Visit website &gt;</a>
  </div>
</div>