<ul class="table">
  {{#each indicators}}
    <li class="table-cell {{short_name}}">
      <h3>{{product_name}}</h3>
      <div class="organization">
        <h2>{{organization}}</h2>
        {{#if product_description}}
          <button class="btn-info" data-info="{{product_description}}">i</button>
        {{/if}}
      </div>
      {{#if iso}}
        {{#if score}}
          <div class="score {{#if classColor}} {{classColor}} {{/if}} {{#ifCond units_abbr 'M USD'}} -usd {{/ifCond}}" data-index="{{short_name}}" data-year="{{year}}">
            {{#round}}{{score}}{{/round}}
            {{#if units_abbr}}
              <span class="units">{{units_abbr}} </span>
            {{/if}}
          </div>
        {{else}}
          <div class="score no-data" data-index="{{short_name}}">no data</div>
        {{/if}}
      {{else}}
        <div class="score no-data" data-index="{{short_name}}"></div>
      {{/if}}
    </li>
  {{/each}}
</ul>
